        <div class="">
            <div class="card-content">
                <div class="card-header">
                    <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="../../../assets/images/avatar.svg">
                    </figure>

                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Bri</p>
                            <p class="subtitle is-6">@brijmcq</p>
                        </div>
                    </div>

                </div>

                <div class="content">
                    <div class="columns">
                        <div class="column">
                            <a class="button is-rounded is-warning">
                                ₱ 100 - Regular Okinawa Milk Tea
                            </a>

                        </div>
                        <div class="column">
                            <a class="button is-rounded is-warning">
                                ₱ 120 - Large Okinawa Milk Tea
                            </a>
                        </div>
                        <div class="column">
                            <a class="button is-rounded is-warning">
                                ₱ 130 - Large Okinawa Milk Tea with Pearl
                            </a>
                        </div>
                        <div class="column">
                            <a class="button is-rounded is-primary">
                                I'm Feeling Lucky
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
