<div class="card">

    <div class="card-content">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="../../../assets/images/avatar.svg">
                        </figure>

        <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
                <p class="title is-4">Bri</p>
                <p class="subtitle is-6">@brijmcq</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>
