<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="../../../assets/images/logo.svg" alt="Bulma: Free, open source, & modern CSS framework based on Flexbox"
                width="112" height="28">
                <span>BUY ME MILK TEA</span>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>
